#------------------------------------------------------------------------------
# POSTGRESQL CONNECTION
#------------------------------------------------------------------------------

database_url = "postgres://postgres:azerty@yourserver.instace.cloud/speculare_auth?sslmode=require"
# database_max_connection = 10

#------------------------------------------------------------------------------
# API SETTINGS
#------------------------------------------------------------------------------

binding = "0.0.0.0:8080"
# Number of workers for the API server (default to number of logical core)
# workers = 4

#------------------------------------------------------------------------------
# API SECURITY SETTINGS
#------------------------------------------------------------------------------

# https = false
# key_priv = "path/to/sslkey.key"
# key_cert = "path/to/sslkey.cert"

# This cookie_secret has to be 32 char long
cookie_secret = ""
cookie_domain = "instance.cloud"

#------------------------------------------------------------------------------
# AUTH SETTINGS
#------------------------------------------------------------------------------

sso_base_url = "https://your_ssot_instance.com"
jwt_ec_priv = ""
jwt_ec_pub = ""

#------------------------------------------------------------------------------
# SMTP CREDENTIALS
#------------------------------------------------------------------------------

# smtp_port = 587
# smtp_tls = true
smtp_host = "smtp.gmail.com"
smtp_user = "mail@gmail.com"
smtp_password = "password_super_secret"
smtp_email_sender = "Speculare <alerts@speculare.cloud>"